# ---------------------------------
# Common aliases
# ---------------------------------
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias '?=man'

if which gls >/dev/null 2>&1
  then
      Alias ls="gls --color"
      alias ll="gls --color -alhFtr"
      alias  l="gls --color -alhF"
      alias lls="gls --color -alhSr"
      alias la="gls --color -Atr"
      alias dir="gls --color=auto"
  else
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias ll='ls -alhFtr'
    alias  l='ls -alhF'
    alias lls='ls -alhSr'
    alias la='ls -Atr'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
  fi

#-------------------------------
# ripgrep
#-------------------------------
if which rg >/dev/null 2>&1
  then
    alias grep='rg'
  else
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias sshf='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'

# ---------------------------------
# Git specific aliases
# ---------------------------------

alias g='git'
# Note: these aliases have been moved to .gitconfig

# ---------------------------------
# NPM & yarn
# ---------------------------------

# This makes life MUCH easier :')
alias nr='npm run'
alias ni='npm install'
alias nid='npm install -D'

# ---------------------------------
# Docker
# ---------------------------------
alias macaddress="docker inspect --format '{{ range .NetworkSettings.Networks}}{{.MacAddress }}{{end}}'"
alias ipaddress="docker inspect --format '{{ range .NetworkSettings.Networks}}{{.IPAddress }}{{end}}'"
alias logpath="docker inspect --format='{{.LogPath}}'"
alias dsl='docker stack ls'
alias dss='docker stack services'
alias dsp='docker stack ps'

# ---------------------------------
# Python virtual env aliases
# ---------------------------------

# Create a virtualenv with python3 as the interpreter
# I usually name my virtualenv .venv
alias venv='virtualenv -p /usr/local/bin/python3 .venv'
alias vac='source .venv/bin/activate'

# ---------------------------------
# systemd specific aliases
# ---------------------------------
if [ -x /etc/systemd ]; then
   alias tt='sudo journalctl -u tomcat -o cat -f'
   alias tomcattail=tt
   alias tt2day='sudo journalctl -u tomcat -o cat -S today'
   alias tt2min='sudo journalctl -u tomcat -o cat -S "2 minutes ago"'
   alias tt5min='sudo journalctl -u tomcat -o cat -S "5 minutes ago"'

   alias tcrst='sudo systemctl restart tomcat'
   alias restarttomcat=tcrst
fi

# ---------------------------------
# top specific aliases
# ---------------------------------
# show top cpu consuming processes
alias topc="ps -e -o pcpu,pid,user,tty,args | sort -n -k 1 -r | head"
# show top memory consuming processes
alias topm="ps -e -o pmem,pid,user,tty,args | sort -n -k 1 -r | head"

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f "${HOME}/.aliases.local" ] && source "${HOME}/.aliases.local"
